<header>
  <div class="header-container">

    <div class="logo">
      <h1>Web Scraper</h1>
    </div>
    
    <div class="controls">
      <button class="scrape">Scrape</button>
      <button class="saved-articles">Saved Articles</button>
    </div>
    
  </div>
</header>