<header>
  <div class="header-container">

    <div class="logo">
      <h1><a href="/">Web Scraper</a></h1>
    </div>
    
    <div class="controls">
      <button class="scrape">Scrape</button>
      <button class="save-articles"><a href="/saved-articles">Saved Articles</a></button>
    </div>
    
  </div>
</header>