<section class="modal-component">
  <div class="modal">
    <button class="close-btn">X</button>
    <div class="modal-content">
      This is where your modal message goes!
    </div>
  </div>
</section>