<section class="modal-component" style="display:none">
  <div class="modal" style="display:none">
    <button class="close-btn">X</button>
    <div class="modal-content" >
      This is where your modal message goes!
    </div>
  </div>
</section>