<section>
  <div class="single-article">
    <div class="article">
      <div class="article-content">
        <div class="article-title">{{article.headline}}</div>
        <div class="article-summary">{{article.summary}}</div>
        <div class="article-url">{{article.url}}</div>
      </div>
      <div class="article-btns">
        <a href="/saved-articles"><button class="btn back-btn">Back</button></a>
        <button class="btn delete-btn">Delete Article</button>
        <button class="btn add-note">AddComment</button>
      </div>
    </div>
  </div>

  <div class="comments">
    
  </div>
</section>