<section>
  {{> modal}}
  {{> header}}
  <div class="saved-articles">
    <div class="saved-article-message" style="text-align:center">
      "No Saved Articles at this time!"
    </div>
  </div>
</section>